body{
  background-color: black;
  color: white;

}

.carousel-item:before {
  -webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

h5{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 62px;
}


.row {
  padding-top: 3%;
  padding-left: 3%;
  font-family: "Times New Roman", Times, serif;
  word-spacing: 10px;

}

.col-sm-12 {
  letter-spacing: 10px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 3%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-img{
  margin: 3%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid white;
}

.card-img:hover{
  opacity: 0.5;
}


.select:hover{
  text-decoration: underline;
}

.search:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 50%;
}
